.Rating__wrapper {
  margin: 10px;
}

.Rating__container {
  display: inline-block;
  position: relative;
  padding: 0 20px;
}

.Rating__container span {
  display: inline-block;
}

.Rating__svg {
  fill: #333;
  height: 36px;
  pointer-events: none;
  transition: fill 0.15s ease-in;
  width: 36px;
}

.Rating__hover .Rating__svg {
  fill: #d49c25;
}

.Rating__none .Rating__svg {
  fill-opacity: 0.25;
}

.Rating__note {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

