body {
  color: #444;
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Roboto', arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
}

img {
  max-width: 100%;
}