.SignIn__button {
  display: inline-block;
  background: white;
  border-radius: 5px;
  border-width: 0;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  color: #737373;
  height: auto;
  outline: none;
  padding: 3px 0;
  transition-duration: 150ms;
  transition-property: background-color, box-shadow;
  transition-timing-function: ease-in-out;
  white-space: nowrap;
}

.SignIn__button:focus,
.SignIn__button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}

.SignIn__button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  transition-duration: 10ms;
}

.SignIn__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.SignIn__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', arial, sans-serif;
}

.SignIn__continue {
  text-decoration: none;
  padding: 5px 10px;
}
