.Landing__header {
  color: #eee;
  background-color: #444;
  padding: 80px 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  margin-bottom: 30px;
  text-align: center
}

.Landing__header h2 {
  margin: 0;
  font-size: 4rem;
  color: #d49c25;
  font-style: italic;
}

.Landing__header h2 span {
  color: #fff;
  font-style: normal;
}

.Landing__signin {
  margin: 40px 0;
}

.Landing__content {
  padding: 0 20px;
  margin: 40px 0;
}

.Landing__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 80px auto;
  align-items: center;
}

.Landing__col {
  box-sizing: border-box;
  padding: 0 20px;
  flex: 0 0 100%;
  max-width: 100%;
}

.Landing__reverse {
  order: 0;
}

.Landing__text-reverse {
  text-align: left;
}

.Landing__svg {
  display: block;
  fill: #444;
  height: 150px;
  margin: 0 auto;
  width: 150px;
}

@media screen and (min-width: 525px) {
  .Landing__col {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .Landing__reverse {
    order: 1;
  }

  .Landing__text-reverse {
    text-align: right;
  }

  .Landing__svg {
    display: block;
    fill: #444;
    height: 200px;
    margin: 0 auto;
    width: 200px;
  }
}
