.Info__wrapper {
  display: flex;
  align-items: center;
  min-height: 60px;
  border-bottom: 1px solid #999;
  position: relative;
}

.Info_icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 90px;
  align-items: center;
  border-right: 1px solid #999;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 90px;
}

.Info__svg {
  fill: #333;
  height: 36px;
  width: 36px;
}

.Info_content {
  padding: 20px 20px 20px 110px;
}