.Details__wrapper {
  align-items: center;
  animation: Loading__fade-in 0.15s ease-in;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  min-height: 100%;
  width: 100%;
  z-index: 100;
}

.Details__container {
  background-color: white;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  margin: auto;
}

.Details__header {
  align-items: center;
  border-bottom: 1px solid #999;
  display: flex;
  min-height: 90px;
  padding-right: 50px;
  position: relative;
}

.Details__icon {
  padding: 10px;
  min-width: 60px;
}

.Details__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.Details__title h2{
  margin: 0;
  line-height: 1;
  font-size: 20px;
}

.Details__title p{
  margin: 5px 0;
  line-height: 1.2;
}

.Details__list {
  list-style: none;
  padding: 0;
}

.Details_close {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.Details__svg {
  fill: #333;
  height: 26px;
  width: 26px;
}

@keyframes Details__fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.Details__rating {
  padding: 0 25px;
  border-bottom: 1px solid #999;
  display: flex;
  align-items: center;
}