.Loading__wrapper {
  align-items: center;
  animation: Loading__fade-in 0.15s ease-in;
  background-color: rgba(0, 0, 0, 0.45);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.Loading__wrapper span {
  color: #fff;
  font-size: 3.5rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
}

@keyframes Loading__fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}