.Header__wrapper {
  background-color: #444;
}

.Header__logout {
  float: right;
  margin: 10px 20px;
  display: inline-block;
  background: white;
  border-radius: 5px;
  border-width: 0;
  color: #444;
  padding: 5px 10px;
  transition-duration: 150ms;
  transition: background-color 150ms ease-in-out;
  white-space: nowrap;
  text-decoration: none;
}

.Header__logout:focus,
.Header__logout:hover {
  background-color: #e5e5e5;
}

.Header__logout:active {
  background-color: #c5c5c5;
  transition-duration: 10ms;
}

.Header__logout svg {
  fill: #444;
  float: left;
  margin-right: 5px;
  height: 24px;
  width: 24px;
}