.Search__wrapper {
  background-color: #444;
  padding: 40px 0 0;
  height: 240px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  margin-bottom: 30px;
}

.Search__heading h2 {
  margin: 0;
  font-size: 4rem;
  color: #d49c25;
  font-style: italic;
}

.Search__heading h2 span {
  color: #fff;
  font-style: normal;
}

.Search__content {
  padding: 0 20px;
  text-align: center;
}

.Search__container {
  --search-width: 400px;
  --search-icon-width: 45px;
  --search-height: 40px;

  margin: 40px auto;
  max-width: 400px;
  width: 100%;
}
  
.Search__box {
  border-radius: 3px;
  background-color: #f2f2f2;
  height: var(--search-height);
  position: relative;
}
  
.Search__button {
  background-color: #bbb;
  border-radius: 3px 0 0 3px;
  border-right: 1px solid #555;
  box-sizing: border-box;
  color: #aaa;
  cursor: pointer;
  float: left;
  font-size: 1.3em;
  height: var(--search-height);
  outline: none;
  padding: 9px 10px;
  transition: background-color 0.15s ease-in;
  width: var(--search-icon-width);
}

.Search__button:disabled {
  background-color: #999;
  pointer-events: none;
}

.Search__svg{
  fill:#666;
  height: 24px;
  width: 24px;
}
  
.Search__input {
  background-color: transparent;
  border-radius: 0 3px 3px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: right;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1em;
  height: var(--search-height);
  outline: 0px;
  padding: 18px 20px;
  position: relative;
  text-transform: uppercase;
  transition: background-color 0.15s ease-in;
  width: calc(100% - var(--search-icon-width));
}

.Search__input:-webkit-autofill,
.Search__input:-webkit-autofill:hover,
.Search__input:-webkit-autofill:focus {
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

.Search__input:disabled {
  background-color: #aaa;
}

@media screen and (min-width: 500px) {
  .Search__wrapper {
    padding: 80px 0 0;
    height: 280px;
  }
}