.PlaceCard {
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #999;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  animation: fade-in 0.15s ease-in backwards;
  transition: box-shadow 0.15s ease-in;
  position: relative;
  border-radius: 4px;
}

.PlaceCard::before {
  background-color: #ccc;
  bottom: 0;
  content: '';
  border-radius: 3px 0 0 3px;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.15s ease-in;
  width: 10px;
}

.PlaceCard:hover {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.45);
}

.PlaceCard:hover::before {
  background-color:#666;
}

.PlaceCard__content {

}

.PlaceCard__header {
  display: flex;
  align-items: center;
}

.PlaceCard__header h3,
.PlaceCard__header p{
  margin: 0 0 5px;
}

.PlaceCard__title {
  padding: 0 20px;
}

.PlaceCard__body {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}